body {
  background: lightgray;
}

.water-container {
  display: flex;
  width: 100%;
}

.player-1,
.player-2 {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.player-1 {
  margin-right: 15px;
}

.square {
  border: 1px solid #000;
  width: 60px;
  height: 60px;
}

.highlight {
  background: red;
}
