body {
  background: lightgray;
}

.water-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

h3{
  text-align: center;
}

button{
  margin-inline: auto;
}

.player-1,
.player-2 {
  display: grid;
  grid-template-rows: repeat(10, 60px);
  grid-template-columns: repeat(10, 60px);
}

.player-1 {
  margin-right: 15px;
}

.square {
  position: relative;
  border: 1px solid #000;
  /* width: 60px; */
  /* height: 60px; */
}

.highlight {
  background: lightblue;
}

.highlight-error {
  background: red;
}


.game-title {
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-block: 2rem;
}

.container {
  margin-inline: auto;
}

.placing-ship{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1.75rem;
}

.hide {
  display: none;
}
